
   /* eye styleing for show psw*/
   .form-error
   {
   color: red;
   }
   .field-icon {
   float: right;
   margin-right: 35px;
   margin-top: -28px;
   position: relative;
   z-index: 2;
   }

   .field-icon1 {
   float: right;
   margin-right: -10px;
   margin-top: -28px;
   position: relative;
   z-index: 2;
   }




.input-switch{
   display: none;
}

.label-switch{
   display: inline-block;
   position: relative;
}

.label-switch::before, .label-switch::after{
   content: "";
   display: inline-block;
   cursor: pointer;
   transition: all 0.5s;
}

.label-switch::before {
    width: 3em;
    height: 1em;
    border: 1px solid #757575;
    border-radius: 4em;
    background: #888888;
}

.label-switch::after {
    position: absolute;
    left: 0;
    top: -20%;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #757575;
    border-radius: 4em;
    background: #ffffff;
}

.input-switch:checked ~ .label-switch::before {
    background: #00a900;
    border-color: #008e00;
}

.input-switch:checked ~ .label-switch::after {
    left: unset;
    right: 0;
    background: #00ce00;
    border-color: #009a00;
}

.info-text {
   display: inline-block;
}

.info-text::before{
   content: "Not active";
}

.input-switch:checked ~ .info-text::before{
   content: "Active";
}


/* ======================media queries==================== */

@media (min-width: 1600px){
   .add-btn-lang {

      margin-right: 5%;
    }
}
@media (min-width: 1400px){
   .btn.save, .btn.next, .btn.previous, .btn.submit, .btn.filter, .btn.reset, .btn.add, .btn.add, .btn.send, .btn.back, .btn.download, .btn.print{
      border-radius: 20px !important;

  }

  .add-btn-lang {
   display: flex;
   justify-content: end;
   margin-right: 3%;
 }
}


@media (min-width: 1200px){
   .btn.save, .btn.next, .btn.previous, .btn.submit, .btn.filter, .btn.reset, .btn.add, .btn.add, .btn.send, .btn.back, .btn.download, .btn.print, .btn.cancel{
      border-radius: 20px !important;
    padding: 6px 16px !important;
    line-height: 1.5 !important;
    font-size: 15px;
  }
  .add-btn-lang {
   margin-right: 2%;
 }

 /* .wizard .content .body {
   padding: 15px 36px !important;
} */
}
@media(min-width:1300px){

section.content1 {
   margin: 0px;
   width: 60%;
   display: flex;
   top: 50%;
   left: 50%;
   position: relative;
   transform: translate(-50%, 0%);
}

}
@media(max-width:1400px){
   .wizard .steps a {
      padding: 14px 10px;
   }

   table.dataTable>thead>tr>th:not(.sorting_disabled), table.dataTable>thead>tr>td:not(.sorting_disabled) {

      text-align: left !important;
      font-size: 12px !important;
  }

}

@media(min-width:991px) and (max-width:1300px){
   .slimScrollBar{
      display: block !important;
  }
   /* .sidebar .menu .list {
      list-style: none;
      padding-left: 0;
      margin: 0 10px;
      overflow-y: scroll !important;
    }
    .slimScrollBar {
      position: relative !important;
    } */
    .list.sidebar-manu.slimScrollBar {
      height: 90vh !important;
    }
  .slimScrollDiv {
   overflow-y: auto !important;
   height: 90vh !important;
   overflow-x: hidden !important;
 }
}
@media(min-width:991px) and (max-width:1300px){
   .sidebar .menu .list .ml-menu li a {
     padding: 4px 41 !important;
  }
   section.content1 {
      margin: 20px;
      width: 80%;
      display: flex;
      top: 50%;
      left: 50%;
      position: relative;
      transform: translate(-50%, 0%);
   }
   .wizard .steps a {

      font-size: 13px;
   }
}


@media(min-width:1199px) and (max-width:1400px){
   .new-patient-input{
      margin: 15px 0 !important;
   }
}

@media(max-width:991px){
   section.content1 {
      margin: 20px;
      width: 95%;
      display: flex;
      top: 50%;
      left: 50%;
      position: static;
      transform: none;
   }
   .new-patient-input{
      margin: 7px 0 !important;
   }
   .new-patient-input.d-flex.align-items-center.justify-content-end.h-100 {
      justify-content: start !important;
  }
}
@media(max-width:768px){
   .navbar .navbar-toggle{
      display: none;
   }
   table{
      overflow-x: auto;
      display: block;

  }
   .next-step, .next-step1, .next-step2, .prev-step, .prev-step1, .preview-step, .btn:not(.btn-link):not(.btn-circle) {
      /* padding: 5px 28px; */
      margin: 2px;
      line-height: 2;
  }
   table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc_disabled:after {
      right: 0.5em;
      content: "";
  }

  table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_desc_disabled:before {
   right: 1em;
   content: "";
}
   .width-50{
      width: 50% !important;
   }
   ul.list-inline.pull-right {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}
td, th {
   font-size: 13px;
}
.mob-width-50{
   width: 50%;
}
button.btn.btn-primary.waves-effect {
  margin-left: 0 !important;
}
.dataTables_wrapper .row{
   align-items: center;
}
.dataTables_wrapper .col-sm-12.col-md-6{
   width: 50%;
}
.breadcrumb .page-title {
   font-size: 15px;
}
.theme-black .breadcrumb li a {

   font-size: 13px;
}
input, button, select, optgroup, textarea {

   margin: 0 !important;
   font-size: 13px;
}

.form-group input{

   margin: 0 !important;
   font-size: 13px !important;
}


}

@media(max-width:370px){
   .new-patient-ragistration {

      font-size: 13px;
      padding-right: 7px !important;
  }
  .next-step, .next-step1, .next-step2, .prev-step, .prev-step1, .preview-step, .btn:not(.btn-link):not(.btn-circle) {
   padding: 5px 17px;
   margin-left: 15px !important;
}
.prev-step{
   margin-left: 15px !important;
}
}

@media(max-width:991px){
   .wizard>.steps a {
      padding: 4px 10px;
      font-size: 13px;
  }
  .wizard>.steps>ul>li {
  width: auto !important;
}
.wizard ul{
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
}


@media(max-width:380px){
   .wizard>.steps>ul>li {
      width: 100% !important;
  }
}

@media screen and (max-width: 768px){
div.dataTables_wrapper div.dataTables_paginate ul.pagination {

    justify-content: start !important;
}
.page-item.disabled .page-link {
   margin-left: 0 !important;
}
.card .body .col-sm-12 {
   margin-bottom: 10px !important;
}
.card .body {

   padding: 0px;
}
.breadcrumb {
   font-size: 13px;

}
}
